Source: meqtrees-timba
Section: science
Priority: extra
Maintainer: vagrant <gijs@pythonic.nl>
Build-Depends: debhelper (>= 8.0.0), cmake, libblitz0-dev, python-dev,
 libcasacore-dev, libblas-dev, liblapack-dev, libgdbm-dev, wcslib-dev,
 libfftw3-dev, python-numpy, libcfitsio3-dev
Standards-Version: 3.9.2
Homepage: http://www.astron.nl/meqwiki/MeqTrees

Package: libmeqtrees-timba0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: implementing and solving arbitrary Measurement Equations

Package: python-meqtrees-timba
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, libmeqtrees-timba0,
 python-qwt5-qt4, python-qt4
Description: implementing and solving arbitrary Measurement Equations

Package: meqtrees-timba
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-meqtrees-timba, libmeqtrees-timba0
Description: implementing and solving arbitrary Measurement Equations

